/* ========================================================================== */
/* FILE: SwcIf_GenValidators.h (generated) */
/* ========================================================================== */
/**
 * @file SwcIf_GenValidators.h
 * @brief Generated compile-time validators.
 */
#ifndef SWCIF_GENVALIDATORS_H_
#define SWCIF_GENVALIDATORS_H_
#include <stddef.h>
#include <stdint.h>
#include "SwcIf_GenInc.h"
STATIC_ASSERT(SWCIF_INSTANCE_COUNT <= INT8_MAX);
STATIC_ASSERT(SWCIF_SCHEDULE_COUNT <= INT8_MAX);
{% for comp in components %}{% if comp.inputs and comp.inputs.fields is not none %}typedef struct {
{% for f in comp.inputs.fields %}    {{ f.c_type }} {{ f.name }}{% if f.array_len %}[{{ f.array_len }}]{% endif %};
{% endfor %}} {{ comp.name }}_In_type_copy;
STATIC_ASSERT(sizeof({{ comp.inputs.type }}) == sizeof({{ comp.name }}_In_type_copy));
{% endif %}{% if comp.outputs and comp.outputs.fields is not none %}typedef struct {
{% for f in comp.outputs.fields %}    {{ f.c_type }} {{ f.name }}{% if f.array_len %}[{{ f.array_len }}]{% endif %};
{% endfor %}} {{ comp.name }}_Out_type_copy;
STATIC_ASSERT(sizeof({{ comp.outputs.type }}) == sizeof({{ comp.name }}_Out_type_copy));
{% endif %}{% if comp.config and comp.config.fields is not none %}typedef struct {
{% for f in comp.config.fields %}    {{ f.c_type }} {{ f.name }}{% if f.array_len %}[{{ f.array_len }}]{% endif %};
{% endfor %}} {{ comp.name }}_Config_type_copy;
STATIC_ASSERT(sizeof({{ comp.config.type }}) == sizeof({{ comp.name }}_Config_type_copy));
{% endif %}{% endfor %}
#endif /* SWCIF_GENVALIDATORS_H_ */
