/* ========================================================================== */
/* FILE: SwcIf_Gen.c (generated) */
/* ========================================================================== */
#include <stdint.h>
#include <stddef.h>
#include "std_types.h"
#include "SwcIf.h"
#include "SwcIf_Priv.h"
#include "SwcIf_Gen.h"
#include "SwcIf_IntCfg.h"
{% if ecu.engine.generate_validator_header %}#include "SwcIf_GenValidators.h"
{% endif %}
{% for inst in instances %}#include "SwcIf_Bind_{{ inst.name }}.h"
{% endfor %}

#if (SWCIF_ANY_OVR)
SwcIf_OvrMask_type SwcIf_InstanceMasks_[{{ total_masks }}u];
#endif

#define SWCIF_RAW_META_DECL_(TYPE_NAME, FIELD_NAME) { (uint16_t)offsetof(TYPE_NAME, FIELD_NAME), (uint16_t)sizeof(((TYPE_NAME *)0)->FIELD_NAME) }

{% for comp in components %}{% if comp.inputs and comp.inputs.fields is not none %}static const SwcIf_RawEntryMetaType SwcIf_InputMeta_{{ comp.name }}_[] = { {% for f in comp.inputs.fields %}SWCIF_RAW_META_DECL_({{ comp.inputs.type }}, {{ f.name }}){% if not loop.last %}, {% endif %}{% endfor %} };
{% endif %}{% if comp.outputs and comp.outputs.fields is not none %}static const SwcIf_RawEntryMetaType SwcIf_OutputMeta_{{ comp.name }}_[] = { {% for f in comp.outputs.fields %}SWCIF_RAW_META_DECL_({{ comp.outputs.type }}, {{ f.name }}){% if not loop.last %}, {% endif %}{% endfor %} };
{% endif %}{% if comp.config and comp.config.fields is not none %}static const SwcIf_RawEntryMetaType SwcIf_ConfigMeta_{{ comp.name }}_[] = { {% for f in comp.config.fields %}SWCIF_RAW_META_DECL_({{ comp.config.type }}, {{ f.name }}){% if not loop.last %}, {% endif %}{% endfor %} };
{% endif %}enum { SwcIf_InputEntryCount_{{ comp.name }}_ = {% if comp.inputs and comp.inputs.fields is not none %}{{ comp.inputs.fields|length }}u{% else %}0u{% endif %}, SwcIf_OutputEntryCount_{{ comp.name }}_ = {% if comp.outputs and comp.outputs.fields is not none %}{{ comp.outputs.fields|length }}u{% else %}0u{% endif %}, SwcIf_ConfigEntryCount_{{ comp.name }}_ = {% if comp.config and comp.config.fields is not none %}{{ comp.config.fields|length }}u{% else %}0u{% endif %} };
static void init_component_{{ comp.name }}_(void * const pself) { {% if comp.init_fn %}{% if comp.instance_type %}{{ comp.init_fn }}(({{ comp.instance_type }} *)pself);{% else %}(void)pself; {{ comp.init_fn }}();{% endif %}{% else %}(void)pself;{% endif %} }
{% endfor %}

{% for inst in instances %}{% if inst.component.instance_type %}static {{ inst.component.instance_type }} SwcIf_Instance_{{ inst.name }}_;
{% else %}static uint8_t SwcIf_Instance_{{ inst.name }}_Stub_;
{% endif %}{% endfor %}
{% for inst in instances %}{% if inst.component.config and inst.default_config_ptr %}static const {{ inst.component.config.type }} * const SwcIf_DefaultCfgPtr_{{ inst.name }}_ = {{ inst.default_config_ptr }};
{% endif %}{% endfor %}

{% for inst in instances %}{% for cb in inst.client_bindings %}{% set proto = cb.prototype %}static {{ proto.return_type }} SwcIf_NoOpClient_{{ inst.name }}_{{ proto.name }}_({% if proto.args|length == 0 %}void{% else %}{% for a in proto.args %}{{ a.c_type }} {{ a.name }}{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}) { {% for a in proto.args %}(void){{ a.name }}; {% endfor %}{% if proto.return_type != 'void' %}{{ proto.return_type }} ret = {0}; return ret;{% endif %} }
{% endfor %}{% endfor %}

{% for inst in instances %}{% for server in inst.component.servers %}{{ server.return_type }} SWCIF_SERVER({{ inst.name }}, {{ server.name }})({% if server.args|length == 0 %}void{% else %}{% for a in server.args %}{{ a.c_type }} {{ a.name }}{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}) { {% if server.return_type != 'void' %}{{ server.return_type }} ret = {% endif %}{{ server.name }}({% if inst.component.instance_type %}&SwcIf_Instance_{{ inst.name }}_{% if server.args|length > 0 %}, {% endif %}{% endif %}{% for a in server.args %}{{ a.name }}{% if not loop.last %}, {% endif %}{% endfor %}); {% if server.return_type != 'void' %}return ret;{% endif %} }
{% endfor %}
static void bind_instance_{{ inst.name }}_(void * const pself)
{
{% if inst.component.instance_type %}{{ inst.component.instance_type }} * const self = ({{ inst.component.instance_type }} *)pself; {% if inst.component.config %}self->{{ inst.component.config.ptr_name }} = {% if inst.default_config_ptr %}SwcIf_DefaultCfgPtr_{{ inst.name }}_{% else %}NULL_PTR{% endif %}; {% endif %}{% for cb in inst.client_bindings %}{% if cb.prototype.array_size is none %}self->{{ inst.component.client_bindings.name }}.{{ cb.prototype.name }} = {% if cb.bind_expr %}{{ cb.bind_expr }}{% else %}SwcIf_NoOpClient_{{ inst.name }}_{{ cb.prototype.name }}_{% endif %}; {% else %}{% for item in cb.items %}self->{{ inst.component.client_bindings.name }}.{{ cb.prototype.name }}[{{ item.index }}] = {% if item.bind_expr %}{{ item.bind_expr }}{% else %}SwcIf_NoOpClient_{{ inst.name }}_{{ cb.prototype.name }}_{% endif %}; {% endfor %}{% endif %}{% endfor %}{% if inst.user_static_bind %}SWCIF_STATIC_BIND_FN({{ inst.name }})(self);{% endif %}
{% else %}(void)pself; {% if inst.component.config %}{{ inst.component.config.ptr_name }} = {% if inst.default_config_ptr %}SwcIf_DefaultCfgPtr_{{ inst.name }}_{% else %}NULL_PTR{% endif %}; {% endif %}{% for cb in inst.client_bindings %}{% if cb.prototype.array_size is none %}{{ inst.component.client_bindings.name }}.{{ cb.prototype.name }} = {% if cb.bind_expr %}{{ cb.bind_expr }}{% else %}SwcIf_NoOpClient_{{ inst.name }}_{{ cb.prototype.name }}_{% endif %}; {% else %}{% for item in cb.items %}{{ inst.component.client_bindings.name }}.{{ cb.prototype.name }}[{{ item.index }}] = {% if item.bind_expr %}{{ item.bind_expr }}{% else %}SwcIf_NoOpClient_{{ inst.name }}_{{ cb.prototype.name }}_{% endif %}; {% endfor %}{% endif %}{% endfor %}{% if inst.user_static_bind %}SWCIF_STATIC_BIND_FN({{ inst.name }})();{% endif %}
{% endif %}}
{% if inst.component.outputs %}const {{ inst.component.outputs.type }} * SwcIf_OutputCPtr_{{ inst.name }}(void) { {% if inst.component.instance_type %}return &SwcIf_Instance_{{ inst.name }}_.{{ inst.component.outputs.name }};{% else %}return &{{ inst.component.outputs.name }};{% endif %} }
{% endif %}{% endfor %}

void SwcIf_ExecScheduleTick_(SwcIf_ScheduleType schedule, uint8_t tick)
{
    switch (schedule) {
{% for sched in schedules %}    case {{ sched.enum_name }}:
{% for ep in sched.expiry_points %}        if (tick == {{ ep.offset_tick }}u) {
{% for inst_name in ep.run %}{% set inst = instances|selectattr('name','equalto',inst_name)|first %}            if (SwcIf_InstanceEnabled_[SWCIF_INSTANCE_{{ inst.name }}] == TRUE) {
{% if inst.component.inputs %}{% if inst.component.instance_type %}                SWCIF_IN_FN({{ inst.name }})(&SwcIf_Instance_{{ inst.name }}_);
{% else %}                SWCIF_IN_FN({{ inst.name }})();
{% endif %}{% endif %}#if (SWCIF_ENABLE_INPUT_OVR_API == STD_ON)
                if (SwcIf_InstanceMasks_[{{ inst.mask_idx_in }}] != 0u) SwcIf_ApplyOverrides_(SwcIf_InstanceMasks_[{{ inst.mask_idx_in }}]);
#endif
{% if inst.component.step_fn %}{% if inst.component.instance_type %}                {{ inst.component.step_fn }}(&SwcIf_Instance_{{ inst.name }}_);
{% else %}                {{ inst.component.step_fn }}();
{% endif %}{% endif %}#if (SWCIF_ENABLE_OUTPUT_OVR_API == STD_ON)
                if (SwcIf_InstanceMasks_[{{ inst.mask_idx_out }}] != 0u) SwcIf_ApplyOverrides_(SwcIf_InstanceMasks_[{{ inst.mask_idx_out }}]);
#endif
{% if inst.component.outputs %}{% if inst.component.instance_type %}                SWCIF_OUT_FN({{ inst.name }})(&SwcIf_Instance_{{ inst.name }}_);
{% else %}                SWCIF_OUT_FN({{ inst.name }})();
{% endif %}{% endif %}            }
{% endfor %}        }
{% endfor %}        break;
{% endfor %}    default:
        break;
    }
}

{% for sched in schedules %}{% for ep in sched.expiry_points %}static const SwcIf_InstanceType SwcIf_RunList_{{ sched.name }}_{{ loop.index0 }}_[] = { {% for n in ep.run %}SWCIF_INSTANCE_{{ n }}{% if not loop.last %}, {% endif %}{% endfor %} };
{% endfor %}static const SwcIf_ScheduleExpiryPointType SwcIf_ScheduleExpiryPoints_{{ sched.name }}_[] = { {% for ep in sched.expiry_points %}{ {{ ep.offset_tick }}u, {{ ep.run|length }}u, SwcIf_RunList_{{ sched.name }}_{{ loop.index0 }}_ }, {% endfor %}{ {{ sched.period_tick }}u, 0u, NULL_PTR } };
{% endfor %}const SwcIf_ScheduleSwitchModeType SwcIf_ScheduleSwitchMode_[SWCIF_SCHEDULE_COUNT] = { {% for sched in schedules %}{{ 'SWCIF_SCHEDULE_SWITCH_IMMEDIATE' if sched.switch_mode == 'immediate' else 'SWCIF_SCHEDULE_SWITCH_DEFERRED' }}{% if not loop.last %}, {% endif %}{% endfor %} };
const SwcIf_ScheduleExpiryPointType * const SwcIf_ScheduleExpiryPointTable_[SWCIF_SCHEDULE_COUNT] = { {% for sched in schedules %}SwcIf_ScheduleExpiryPoints_{{ sched.name }}_{% if not loop.last %}, {% endif %}{% endfor %} };
const SwcIf_ScheduleType SwcIf_DefaultSchedule_ = {{ default_schedule.enum_name }};
const SwcIf_GenericInstanceFnType SwcIf_BindFnTable_[SWCIF_INSTANCE_COUNT] = { {% for inst in instances %}bind_instance_{{ inst.name }}_{% if not loop.last %}, {% endif %}{% endfor %} };
const SwcIf_GenericInstanceFnType SwcIf_InitFnTable_[SWCIF_INSTANCE_COUNT] = { {% for inst in instances %}init_component_{{ inst.component.name }}_{% if not loop.last %}, {% endif %}{% endfor %} };
void * const SwcIf_InstanceObjectTable_[SWCIF_INSTANCE_COUNT] = { {% for inst in instances %}{% if inst.component.instance_type %}&SwcIf_Instance_{{ inst.name }}_{% else %}&SwcIf_Instance_{{ inst.name }}_Stub_{% endif %}{% if not loop.last %}, {% endif %}{% endfor %} };
const SwcIf_RawEntryMetaType * const SwcIf_InputMetaTable_[SWCIF_INSTANCE_COUNT] = { {% for inst in instances %}{% if inst.component.inputs and inst.component.inputs.fields is not none %}SwcIf_InputMeta_{{ inst.component.name }}_{% else %}NULL_PTR{% endif %}{% if not loop.last %}, {% endif %}{% endfor %} };
const SwcIf_RawEntryMetaType * const SwcIf_OutputMetaTable_[SWCIF_INSTANCE_COUNT] = { {% for inst in instances %}{% if inst.component.outputs and inst.component.outputs.fields is not none %}SwcIf_OutputMeta_{{ inst.component.name }}_{% else %}NULL_PTR{% endif %}{% if not loop.last %}, {% endif %}{% endfor %} };
const SwcIf_RawEntryMetaType * const SwcIf_ConfigMetaTable_[SWCIF_INSTANCE_COUNT] = { {% for inst in instances %}{% if inst.component.config and inst.component.config.fields is not none %}SwcIf_ConfigMeta_{{ inst.component.name }}_{% else %}NULL_PTR{% endif %}{% if not loop.last %}, {% endif %}{% endfor %} };
const uint16_t SwcIf_InputEntryCountTable_[SWCIF_INSTANCE_COUNT] = { {% for inst in instances %}SwcIf_InputEntryCount_{{ inst.component.name }}_{% if not loop.last %}, {% endif %}{% endfor %} };
const uint16_t SwcIf_OutputEntryCountTable_[SWCIF_INSTANCE_COUNT] = { {% for inst in instances %}SwcIf_OutputEntryCount_{{ inst.component.name }}_{% if not loop.last %}, {% endif %}{% endfor %} };
const uint16_t SwcIf_ConfigEntryCountTable_[SWCIF_INSTANCE_COUNT] = { {% for inst in instances %}SwcIf_ConfigEntryCount_{{ inst.component.name }}_{% if not loop.last %}, {% endif %}{% endfor %} };
uint8_t * const SwcIf_InputBaseTable_[SWCIF_INSTANCE_COUNT] = { {% for inst in instances %}{% if inst.component.inputs and inst.component.inputs.fields is not none %}{% if inst.component.instance_type %}(uint8_t *)&SwcIf_Instance_{{ inst.name }}_.{{ inst.component.inputs.name }}{% else %}(uint8_t *)&{{ inst.component.inputs.name }}{% endif %}{% else %}NULL_PTR{% endif %}{% if not loop.last %}, {% endif %}{% endfor %} };
uint8_t * const SwcIf_OutputBaseTable_[SWCIF_INSTANCE_COUNT] = { {% for inst in instances %}{% if inst.component.outputs and inst.component.outputs.fields is not none %}{% if inst.component.instance_type %}(uint8_t *)&SwcIf_Instance_{{ inst.name }}_.{{ inst.component.outputs.name }}{% else %}(uint8_t *)&{{ inst.component.outputs.name }}{% endif %}{% else %}NULL_PTR{% endif %}{% if not loop.last %}, {% endif %}{% endfor %} };
static const void * const SwcIf_NullConfigPtr_ = NULL_PTR;
const void * const * const SwcIf_ConfigPtrAddressTable_[SWCIF_INSTANCE_COUNT] = { {% for inst in instances %}{% if inst.component.config %}{% if inst.component.instance_type %}(const void * const *)&SwcIf_Instance_{{ inst.name }}_.{{ inst.component.config.ptr_name }}{% else %}(const void * const *)&{{ inst.component.config.ptr_name }}{% endif %}{% else %}(const void * const *)&SwcIf_NullConfigPtr_{% endif %}{% if not loop.last %}, {% endif %}{% endfor %} };
