#ifndef SWCIF_GENVALIDATORS_H_
#define SWCIF_GENVALIDATORS_H_
#include <stddef.h>
#include <stdint.h>
#include "SwcIf_GenInc.h"
STATIC_ASSERT(SWCIF_INSTANCE_COUNT <= INT8_MAX);
STATIC_ASSERT(SWCIF_SCHEDULE_COUNT <= INT8_MAX);
#endif /* SWCIF_GENVALIDATORS_H_ */
