/* ========================================================================== */
/* FILE: SwcIf_GenMeta.h (generated)                                           */
/* ========================================================================== */
/**
 * @file SwcIf_GenMeta.h
 * @brief Generated logical INFO metadata declarations.
 */
#ifndef SWCIF_GENMETA_H_
#define SWCIF_GENMETA_H_

#include <stdint.h>
#include "std_types.h"
#include "SwcIf.h"

#if (SWCIF_ENABLE_INSTANCE_INFO_API == STD_ON)
extern const char * const SwcIf_InstanceNameTable_[SWCIF_INSTANCE_COUNT];
#endif

#if (SWCIF_ENABLE_INPUT_INFO_API == STD_ON)
extern const char * const * const SwcIf_InputEntryNameTable_[SWCIF_INSTANCE_COUNT];
extern const uint16_t * const SwcIf_InputEntrySizeTable_[SWCIF_INSTANCE_COUNT];
#endif

#if (SWCIF_ENABLE_OUTPUT_INFO_API == STD_ON)
extern const char * const * const SwcIf_OutputEntryNameTable_[SWCIF_INSTANCE_COUNT];
extern const uint16_t * const SwcIf_OutputEntrySizeTable_[SWCIF_INSTANCE_COUNT];
#endif

#if (SWCIF_ENABLE_CONFIG_INFO_API == STD_ON)
extern const char * const * const SwcIf_ConfigEntryNameTable_[SWCIF_INSTANCE_COUNT];
extern const uint16_t * const SwcIf_ConfigEntrySizeTable_[SWCIF_INSTANCE_COUNT];
#endif

#endif /* SWCIF_GENMETA_H_ */
