#ifndef SWCIF_GENCFG_H_
#define SWCIF_GENCFG_H_
#include "SwcIf_Cfg.h"
#include "std_types.h"
#define SWCIF_GEN_MAINFUNCTION_PERIOD_MS {{ ecu.engine.mainfunction_period_ms }}u
#define SWCIF_GEN_OVR_SLOT_COUNT {{ ecu.engine.ovr_slot_count }}u
#define SWCIF_GEN_OVR_BUFFER_LEN {{ ecu.engine.ovr_buffer_len }}u
#define SWCIF_GEN_ENABLE_INPUT_RAW_API {{ 'STD_ON' if ecu.engine.enable_input_raw_api else 'STD_OFF' }}
#define SWCIF_GEN_ENABLE_OUTPUT_RAW_API {{ 'STD_ON' if ecu.engine.enable_output_raw_api else 'STD_OFF' }}
#define SWCIF_GEN_ENABLE_CONFIG_RAW_API {{ 'STD_ON' if ecu.engine.enable_config_raw_api else 'STD_OFF' }}
#define SWCIF_GEN_ENABLE_INPUT_OVR_API {{ 'STD_ON' if ecu.engine.enable_input_ovr_api else 'STD_OFF' }}
#define SWCIF_GEN_ENABLE_OUTPUT_OVR_API {{ 'STD_ON' if ecu.engine.enable_output_ovr_api else 'STD_OFF' }}
#define SWCIF_GEN_ENABLE_INSTANCE_INFO_API {{ 'STD_ON' if ecu.engine.enable_instance_info_api else 'STD_OFF' }}
#define SWCIF_GEN_ENABLE_INPUT_INFO_API {{ 'STD_ON' if ecu.engine.enable_input_info_api else 'STD_OFF' }}
#define SWCIF_GEN_ENABLE_OUTPUT_INFO_API {{ 'STD_ON' if ecu.engine.enable_output_info_api else 'STD_OFF' }}
#define SWCIF_GEN_ENABLE_CONFIG_INFO_API {{ 'STD_ON' if ecu.engine.enable_config_info_api else 'STD_OFF' }}
#ifndef SWCIF_MAINFUNCTION_PERIOD_MS
#define SWCIF_MAINFUNCTION_PERIOD_MS SWCIF_GEN_MAINFUNCTION_PERIOD_MS
#endif
#ifndef SWCIF_OVR_SLOT_COUNT
#define SWCIF_OVR_SLOT_COUNT SWCIF_GEN_OVR_SLOT_COUNT
#endif
#ifndef SWCIF_OVR_BUFFER_LEN
#define SWCIF_OVR_BUFFER_LEN SWCIF_GEN_OVR_BUFFER_LEN
#endif
#ifndef SWCIF_ENABLE_INPUT_RAW_API
#define SWCIF_ENABLE_INPUT_RAW_API SWCIF_GEN_ENABLE_INPUT_RAW_API
#endif
#ifndef SWCIF_ENABLE_OUTPUT_RAW_API
#define SWCIF_ENABLE_OUTPUT_RAW_API SWCIF_GEN_ENABLE_OUTPUT_RAW_API
#endif
#ifndef SWCIF_ENABLE_CONFIG_RAW_API
#define SWCIF_ENABLE_CONFIG_RAW_API SWCIF_GEN_ENABLE_CONFIG_RAW_API
#endif
#ifndef SWCIF_ENABLE_INPUT_OVR_API
#define SWCIF_ENABLE_INPUT_OVR_API SWCIF_GEN_ENABLE_INPUT_OVR_API
#endif
#ifndef SWCIF_ENABLE_OUTPUT_OVR_API
#define SWCIF_ENABLE_OUTPUT_OVR_API SWCIF_GEN_ENABLE_OUTPUT_OVR_API
#endif
#ifndef SWCIF_ENABLE_INSTANCE_INFO_API
#define SWCIF_ENABLE_INSTANCE_INFO_API SWCIF_GEN_ENABLE_INSTANCE_INFO_API
#endif
#ifndef SWCIF_ENABLE_INPUT_INFO_API
#define SWCIF_ENABLE_INPUT_INFO_API SWCIF_GEN_ENABLE_INPUT_INFO_API
#endif
#ifndef SWCIF_ENABLE_OUTPUT_INFO_API
#define SWCIF_ENABLE_OUTPUT_INFO_API SWCIF_GEN_ENABLE_OUTPUT_INFO_API
#endif
#ifndef SWCIF_ENABLE_CONFIG_INFO_API
#define SWCIF_ENABLE_CONFIG_INFO_API SWCIF_GEN_ENABLE_CONFIG_INFO_API
#endif
#define SWCIF_ANY_RAW ((SWCIF_ENABLE_INPUT_RAW_API == STD_ON) || (SWCIF_ENABLE_OUTPUT_RAW_API == STD_ON) || (SWCIF_ENABLE_CONFIG_RAW_API == STD_ON))
#define SWCIF_ANY_OVR ((SWCIF_ENABLE_INPUT_OVR_API == STD_ON) || (SWCIF_ENABLE_OUTPUT_OVR_API == STD_ON))
#define SWCIF_ANY_INFO ((SWCIF_ENABLE_INPUT_INFO_API == STD_ON) || (SWCIF_ENABLE_OUTPUT_INFO_API == STD_ON) || (SWCIF_ENABLE_CONFIG_INFO_API == STD_ON) || (SWCIF_ENABLE_INSTANCE_INFO_API == STD_ON))
#endif /* SWCIF_GENCFG_H_ */
