#ifndef SWCIF_GEN_H_
#define SWCIF_GEN_H_
#include <stdint.h>
#include "SwcIf_GenInc.h"
enum {
{% for inst in instances %} SWCIF_INSTANCE_{{ inst.name }},
{% endfor %} SWCIF_INSTANCE_COUNT
};
enum {
{% for sched in schedules %} {{ sched.enum_name }} = {{ sched.idx }},
{% endfor %} SWCIF_SCHEDULE_COUNT
};
{% for inst in instances %}{% if inst.component.outputs %}const {{ inst.component.outputs.type }} * SwcIf_OutputCPtr_{{ inst.name }}(void);
{% endif %}{% endfor %}
extern boolean SwcIf_InstanceEnabled_[SWCIF_INSTANCE_COUNT];
#endif /* SWCIF_GEN_H_ */
